%button {
  @include button(simple, $base-accent-color);
  -webkit-font-smoothing: antialiased;
  font-size: $base-font-size;
  font-weight: 700;
  line-height: 1em;
  border: 0;
  box-shadow: none;
  background: $base-accent-color;
  text-shadow:none;
  &:hover, &:active{
    background-image: none!important;
    box-shadow: none!important;
    border: 0!important;
    background: darken($base-accent-color,10%)!important;
  }
}
