---
layout: default
title: M-JO.CO / A Digital Portfolio
---

<div class="dark"></div>

<header class="cover">
    <p>Digital portfolio of Mac Oosthuizen. <br/>Interaction designer living in Paris</p>
    <p>hello@m-jo.co<br/>+33 6 51 34 45 77</p>
</header>

<div class="blog-btn"></div>

<div id="slide">
    <div class="scroll"><p>M-JO.CO</p></div>
</div>

<div id="middle">
    <a href="#" id="info">INFO</a>
    <a href="#" id="blog">BLOG</a>
    <section class="home work">
        <article id ="ajoto" class="proj">
                <ul class="slider rsDefault visibleNearby rsHor">
                    <li class="slide"><img src="http://placehold.it/600x600" alt=""/></li>
                    <li class="slide"><img src="http://placehold.it/600x600" alt=""/></li>
                    <li class="slide label"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></li>
                <li class="slide"><img src="http://placehold.it/600x600" alt=""/></li>
                <li class="slide"><img src="http://placehold.it/600x600" alt=""/></li>
                </ul>
        </article>
        <article id="fieldlogs" class="proj">
            <ul class="slider rsDefault visibleNearby rsHor">
                <li class="slide"><img src="http://placehold.it/600x600" alt=""/></li>
                <li class="slide"><img src="http://placehold.it/600x600" alt=""/></li>
                <li class="slide label"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></li>
                <li class="slide"><img src="http://placehold.it/600x600" alt=""/></li>
                <li class="slide"><img src="http://placehold.it/600x600" alt=""/></li>
            </ul>
        </article>
    </section>

    <section class="home posts">
        <h1>Latest Blog Posts</h1>
        <article></article>
    </section>

    <section class="home about">
        <h1>About & Contact</h1>
    </section>
</div>

<div class="blog">
    <article class='page hidden'>
        <div class='big-image'></div>
        <div class='content'>
            <h3 class='byline'>
                      Published <time></time> by <span class='author'></span>
                    </h3>
                  <h1 class='title'></h1>
                  <h2 class='description'></h2>
                  <div class='text'></div>
        </div>
    </article>
</div>

{% include scripts.html %}
{% include googleanalytics.html %}