// Typography
///////////////////////////////////////////////////////////////////////////////
$sans-serif: 'Lato', sans-serif;
$serif: $georgia;

$base-font-family: $sans-serif;
$header-font-family: $base-font-family;

// Sizes
///////////////////////////////////////////////////////////////////////////////
$base-font-size: 1em;
$base-line-height: $base-font-size * 1.5;
$base-border-radius: em(3);

// Colors
///////////////////////////////////////////////////////////////////////////////

$blue: #2F2A43;
$yellow: #FFD600;
$orange: #FF7101;
$dark-gray: #333;
$medium-gray: #444;
$light-gray: #F9F9F9;

// Body Color
$base-body-color: white;

//  Font Colors
$base-font-color: $dark-gray;
$base-accent-color: $yellow;

//  Text Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);

// Border color
$base-border-color: $light-gray;
