// Typography
///////////////////////////////////////////////////////////////////////////////
$sans-serif: 'Muli', sans-serif;
$serif: $georgia;

$base-font-family: $sans-serif;
$header-font-family: $base-font-family;

// Sizes
///////////////////////////////////////////////////////////////////////////////
$base-font-size: 1em;
$base-line-height: $base-font-size * 1.5;
$base-border-radius: em(3);

// Colors
///////////////////////////////////////////////////////////////////////////////

$blue: #303F6C;
$yellow: #FFD600;
$red: #ea0000;
$orange: #FF7101;
$dark-gray: #34322e;
$medium-gray: #979797;
$light-gray: #fefefd;
$frame: #EFEFEF;

// Body Color
$base-body-color: $light-gray;

//  Font Colors
$base-font-color: $dark-gray;
$base-accent-color: $red;

//  Text Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);

// Border color
$base-border-color: $medium-gray;
