h3.logo{
  position: absolute;
  top: 0;
  color: $yellow;
  margin-left: $base-line-height * 3;
  margin-top: $base-line-height * 4;
  display: block;
  font-size: $base-font-size * 1.5;
  border-bottom: 3px solid $yellow;
}

article.page{
    -webkit-transform-origin:bottom center;
    font-size: 1.3em;

    &.hidden { display: none; }

    &.next{
      .big-image { cursor:pointer; }
      .big-image .inner { opacity: 1; }
    }

    &.current{
      .big-image{
        display: none;
      }
    }

    &.content-hidden{
      .content{ display: none; }
    }

    /* Class applied when when page fades away. */
    &.fade-up-out{
      opacity: 0;
      transform: scale(.8) translate3d(0, -10%, 0);
      transition: all 450ms cubic-bezier(.165, .840, .440, 1.000);
    }

    &.easing-upward{
      transition: all 450ms cubic-bezier(.165, .840, .440, 1.000) ;
    }

    /* The large image that accompanies every post. */
    .big-image{
      height:300px;

      font-size: 80%;
    }

    /* The content. */
    .content{
      padding: $base-line-height * 3;
      margin:0 auto;
      max-width: 1140px;
      margin-left: $base-line-height * 2;
      .title{
        font-size: $base-font-size * 3;
      }
      .text{

      }
    }

  }
