.index{
    background: #fff;
    height: 100%;
    left: -25%;
    margin: 0 auto;
    position: fixed;
    width: 25%;
    z-index: 100;

    @include transition(left .2s ease-in-out);
    ul{
      padding: $base-line-height * 3.5;

      li{
        font-size: $base-font-size * 2;
      }
    }

    &.open{
      left: 0;
    }
}

#slide{
    height: 100%;
    position: relative;
    z-index: 98;

    .scroll{
        background: $base-accent-color;
        display: table;
        height: 100%;
        position: fixed;
        transform-origin: center;
        width: 100%;
        z-index: 9;

        p{
          color: $dark-gray;
          display: table-cell;
          font-size: 3em;
          line-height: normal;
          text-align: center;
          vertical-align: middle;

          span{
            font-size: .5em;
          }
        }
    }
}
