.home{
    h1{
      display: block;
      margin: 0;
      padding: 60px 0 0px 0;
      text-align: center;
      color: $base-font-color;
    }
}

#middle{
    @include transition (padding-left .2s ease-in-out);
    background: white;
    position: relative;
    width: 100%;
    z-index: 99;

    section{
        margin: 0 auto;
        text-align: left;

        article{
          height: 100%;

          .royalSlider{
            height: 600px;
            width: 100%;

            .rsSlide{
                overflow: visible;
              .slide{
                margin: 0 auto;
                max-width: 652px;
                text-align: center;
                @include vertical-align;
                video{
                    cursor: url('/img/refresh.png'), auto;
                }
              }

              h1{
                  position: absolute!important;
                  width: 90%;
                  margin-left: 5%;
                  z-index: 99;
                  text-align: center;
                  font-size: 5em;
                  font-weight: 400;
                  color: $base-font-color;
                  padding: 10px 0;
                  @include vertical-align;
                  border: 4px solid $base-font-color;
                  background-color: white;
              }

              .shadow{
                  @include shadow($base-border-color);
              }

              .label{
                height: 350px;
                max-width: 600px;
                background: $base-body-color;
                border: 1px solid $base-body-color;
                color: $base-font-color;
                text-align: left;
                @include shadow($base-border-color);

                p{
                  @include vertical-align;
                  font-size: $base-font-size / 1.2;
                  line-height: normal;
                  font-weight: 400;
                  padding: 0 $base-line-height;

                  span{
                    display: block;
                    width: 100%;
                    margin-bottom: $base-line-height / 1.1;
                  }

                  a.button{
                    @extend %button;
                    display: block;
                    width: 80%;
                    margin-top: $base-line-height;
                    text-align: center;
                  }
                }
                &.update{
                    span{
                      border-bottom: 3px solid $base-font-color;
                      display: block;
                      font-size: $base-font-size * 1.5;
                      padding-bottom: $base-line-height * .3;
                      width: 210px;
                    }

                    b{
                      display: block;
                      font-size: $base-font-size * 1.3;
                      margin: $base-line-height 0;
                    }

                    p{
                      font-size: $base-font-size * 1.1;

                      a{
                        font-size: inherit;
                      }
                    }

                    p.large{
                      font-size: $base-font-size*1.3;
                      line-height: normal;
                      overflow: auto;

                      .float{
                          font-style: normal;
                          float: left;
                          width: 50%;
                      }

                      a{
                          display: block;
                          font-weight: 700;
                      }
                  }
                }
              }
              @include media($large-screen){
                  .label{
                      height: 600px;
                      p{
                          font-size: $base-font-size * 1.3;
                          padding: 0 $base-line-height * 2;
                          span{

                          }
                          a.button{
                              width: 40%;
                          }
                      }
                  }
              }
            }
          }


          .rsArrow{
            height: 100%;
            position: absolute;
            width: 25%;
          }

          .rsArrowRight{
            cursor: url('/img/arrow_r.png'), auto;
            right: 0;
          }

          .rsArrowLeft{
            cursor: url('/img/arrow_l.png'), auto;
            left: 0;
          }
        }
    }
}

nav{
  position: fixed;
  width:100%;
  z-index: 100;

  .inner{
    margin: 0 auto;

    p{
      margin: 0 auto;
      text-align: center;
      white-space: nowrap;
      width: 100%;

      span{
        border-bottom: 3px solid $base-font-color;
        color: $base-font-color;
        cursor: pointer;
        display: inline-block;
        font-size: $base-font-size * 1.1;
        font-weight: 700;
        margin: 0 $base-line-height / 3;
        padding-bottom: $base-line-height * .2;
        vertical-align: middle;

        &:hover{
          text-decoration: none;
        }
      }
    }
  }

  &.main{
    top: 20px;
  }

  &.bottom{
    bottom: 20px;

    #scroll{
        transition: margin 350ms cubic-bezier(0, 0.65, 0.12171, 0.99);

        &.hide{
            margin-bottom: -90px;
        }

        &.two{
            display: none;
        }
    }
  }
}

.work{
  z-index: auto;
}

.about{
  @include transition (opacity .2s ease-in-out, visibility .2s ease-in-out);
  background: $dark-gray;
  bottom: 0;
  color: #fff;
  left: 0;
  opacity: 0;
  padding-top: $base-line-height * .85;
  position: relative;
  right: 0;
  text-align: center;
  top: 0;
  visibility: hidden;
  z-index: 200;
  height: 0;

  &.open{
    opacity: 1;
    visibility: visible;
    height: auto;
  }

  .close{
    border-bottom: 3px solid $base-accent-color;
    color: $base-accent-color;
    cursor: pointer;
    font-size: $base-font-size * 1.1;
    font-weight: 700;
    margin: 0 $base-line-height / 3;
    padding-bottom: $base-line-height * .2;
  }

  h1{
    margin: 0 auto;
    padding: $base-line-height * .6;
    width: 90%;

  }

  article{
    span{
      border-bottom: 3px solid #fff!important;
    }
    &.double{
        width: 90%;
        p{
            float: left;
            width: 90%;
            padding-right: 5%;
        }
    }
  }

  @include media($large-screen){
    position: fixed;
    article.double{
        width: 66%;
        p{
            width: 30%;
        }
    }
    h1{
        width: 50%;
    }
  }
}
