/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

@import "frameless";

$font-size: 16;
$family: 'Rosario', sans-serif;

html,
button,
input,
select,
textarea {
    color: #222;
}

h1{
  margin:1.5em 0;
  font-size: 6em;
  color: #85efff;
}

h2{
  font-weight:normal;
  width: 80%;
  font-size: 3em;
  line-height: 1.2em;
}

html {
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

$grey: #f9f9f9;
$highlight: #444;

html, body{
  height: 100%;
}

body{
    background-color:$grey;
      color: #555;
      padding: 0;
      margin: 0;
      -webkit-backface-visibility: hidden;
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
      line-height: 2.4em;
      display: block;
      font-family: $family;
}

a{
    color: $highlight;
}

.cover{
    width: 100%;
    margin:0 auto;
    position:fixed;
    z-index: 999;
    padding-top:1em;
    p{
      margin:0 auto;
      a{
        text-decoration: none;
      }
      a::before{
        content:'\2014\00A0';
      }
    }
}

#slide{
    height:100%;
    width:100%;
    position: relative;
    z-index: 99;
    .scroll{
        //background-image: url(http://www.jamiewolfond.com/project-images/header/02.gif); background-position: 50% 0%; background-repeat: initial initial;        
        background:#85efff;
        z-index: 9;
        position: fixed;
        width: 100%;
        height: 100%;
        max-width: 1500px;
        max-height: 900px;
        p{
          font-size: 10em;
          color: #fff;
        }
    }
}

.middle{
    width: 100%;
    position:relative;
    z-index: 100;
    background:#f9f9f9;
    padding-top: 1em;
    padding-bottom: 1em;
    section{
        text-align: left;
        margin: 0 auto;
        article{
          height: 100%;
          padding-bottom: 2.5em;
          ul{
            display: block;
            height: 100%;
            margin:0;
            padding: 0;
            overflow:auto;
            clear:both;
            li.col{
              background:#f1f1f1;
              display: inline;
              margin:5%;
              //min-width: 90%;
              float: left;
              list-style-type:none;
              img{
                width:100%;
              }
            }
          }
        }  
    }
}

.project{
  z-index: auto;
}

.posts{
  h1{
    display: block;
    height: 100px;
    margin: 0;
    padding: 80px 0;
    z-index: -1;
  }
  a{
    display: block;
    width: 100%;
    font-size: 2em;
    padding:1em 0;
    background: white;
    margin-top: 10px;
    opacity:.9;
  }
}

article{
  h1{
    display: block;
    height: 100px;
    margin:0;
    padding:80px 0;
    z-index: -1;
  }
  h2{
    padding-bottom:5em;
  }
}
  
  /* Work timeline page blog styles. */
  article.timeline{
    .imgs{
      a{
        img{
          @include frame(margin-left,$frame:1);
          transition: all .125s ease-in-out;
        }
      }
      a.full{
        clear: both;
        display: block;
        img{
          @include frame(width,$frame:18);
        }
      }
      a.half{
        float: left;
        img{
          @include frame(width,$frame:9);
        }
      }
      a.third{
        float: left;
        img{
          @include frame(width,$frame:6);
        }
      }
    }
  }

  article.final{
    clear: both;
  }

  /* Single page Blog post styles.  */
  article.page{
    -webkit-transform-origin:bottom center;
    font-size: 1.3em;

    &.hidden { display: none; }

    &.next{
      .big-image { cursor:pointer; } 
      .big-image .inner { opacity: 1; } 
    }

    &.content-hidden{
      .content{ display: none; }
    }

    /* Class applied when when page fades away. */  
    &.fade-up-out{
      opacity: 0;
      transform: scale(0.8) translate3d(0, -10%, 0);
      transition: all 450ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
    }

    &.easing-upward{
      transition: all 450ms cubic-bezier(0.165, 0.840, 0.440, 1.000) ;
    }

    /* The large image that accompanies every post. */
    .big-image{    
      height:300px;

      font-size: 80%;
    }

    /* The content. */ 
    .content{ 
      padding: 0 3em;
      margin:0 auto;
      max-width: 1140px;
    }

  }


#fluidbox-overlay {
  background-color: rgba(255,255,255,.85);
  cursor: pointer;
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 900;
}
.fluidbox-wrap {
  background-position: center center;
  background-size: cover;
  margin: 0 auto;
  position: relative;
  z-index: 800;
  transition: all .25s ease-in-out;
}
  .fluidbox-opened .fluidbox-wrap {
    z-index: 1000;
  }
.fluidbox-ghost {
  background-size: cover;
  background-position: center center;
  position: absolute;
  transition: all .25s ease-in-out;
}





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 6em) {
    /* Style adjustments for viewports that meet the condition */
    body {
      font-size: ($font-size - 2)/16*1em;
    }
}

@media only screen and (min-width: 30em) {
    /* Style adjustments for viewports that meet the condition */
    body {
      font-size: ($font-size - 2)/16*1em;
    }
}

@media only screen and (min-width: 44em) {
    /* Style adjustments for viewports that meet the condition */
    body {
      font-size: ($font-size - 2)/16*1em;
            .cover{
              p{
                @include frame(width,$frame:23);
              }
            }
            .middle{
              section{
                @include frame(width,$frame:23);
                article{
                  ul{
                    li.col{
                      margin:0;
                      min-width: inherit;
                      @include frame(margin-right,$frame:1);
                      @include frame(margin-bottom,$frame:1);
                    }
                  }
                  
                }
              }
            .col1{@include frame(width, $frame:1);}
            .col2{@include frame(width, $frame:2);}
            .col3{@include frame(width, $frame:3);}
            .col4{@include frame(width, $frame:4);}
            .col5{@include frame(width, $frame:5);}
            .col6{@include frame(width, $frame:6);}
            .col7{@include frame(width, $frame:7);}
            .col8{@include frame(width, $frame:8);}
            .col9{@include frame(width, $frame:9);}
            .col10{@include frame(width, $frame:10);}
            .col11{@include frame(width, $frame:11);}
            .col12{@include frame(width, $frame:12);}
            .col13{@include frame(width, $frame:13);}
            .col14{@include frame(width, $frame:14);}
            .col15{@include frame(width, $frame:15);}
            .col16{@include frame(width, $frame:16);}
            .col17{@include frame(width, $frame:17);}
            }
    }
}

@media only screen and (min-width: 64em) {
    /* Style adjustments for viewports that meet the condition */
    body {
      font-size: ($font-size + 2)/16*1em;
    }
}


@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
